@model ERPv1.ERP.GeneralLedgerModule.AccountCharts.Model.AccountChartCounter

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AccountChartCounter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentAccNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentAccNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BalanceSheet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BalanceSheet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeStatement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomeStatement)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
