@model ERPv1.ERP.GeneralLedgerModule.AccountCharts.Model.AccountChartCounter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AccountChartCounter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentAccNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentAccNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BalanceSheet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BalanceSheet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeStatement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomeStatement)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
